<template>
    <v-container grid-list-md text-xs-center>
    <v-layout row wrap>
      <v-flex v-for="(p, i) in getPersonagens.results" :key="i" xs12 lg4>
        <v-card dark color="secondary" height="200">
          <v-layout row wrap>
            <v-flex xs12>
              <v-avatar
                :tile="false"
                :size="95"
                color="grey darken-2"
                class="mt-2 mb-3"
              >
                <img src="https://vignette.wikia.nocookie.net/clubpenguin/images/9/93/DVHelmet.png/revision/latest?cb=20150705103211" alt="avatar">
              </v-avatar>
            </v-flex>
          </v-layout>
          
        <v-btn @click="respostaModal=true"><v-icon>help</v-icon></v-btn>
        <v-btn @click="infoModal=true, pegaInfo(p, i)"><v-icon>more_horiz</v-icon></v-btn>
        </v-card>
      </v-flex>
    </v-layout>
    <div class="text-xs-center ">
    <v-pagination
      v-model="page"
      :length="4"
      circle
      class="mt-4"
      color="red"
    ></v-pagination>
  </div>


  <v-dialog v-model="respostaModal" max-width="400">
    <v-card class="pa-3">
      <h1>Digite sua resposta:</h1>
      <v-text-field color="red" label="Insira o nome do personagem"></v-text-field>
      <v-btn>Enviar</v-btn>
    </v-card>
  </v-dialog>

  <v-dialog v-model="infoModal" max-width="400">
    <v-card class="pa-3">
        <div v-if="loadInfo">
          <v-layout align-center justify-center row fill-height>
                  <v-progress-circular
                    indeterminate
                    color="red"
                    :size="70"
                    :width="7"
                  ></v-progress-circular>
          </v-layout>
        </div>
        <div v-if="!loadInfo">
              <h1>Detalhes:</h1>
              <v-layout>
                <v-flex xs5>
                  <v-img
                    src="https://cdn.vuetifyjs.com/images/cards/foster.jpg"
                    height="125px"
                    contain
                  ></v-img>
                </v-flex>
                <v-flex xs7>
                    <div>
                      <div>Espécie: {{this.getSpecie.name}}</div>
                      <div>Gênero: {{this.info.gender}}</div>
                      <div>Altura: {{this.info.height}}cm</div>
                      <div>Cor do cabelo: {{this.info.hair_color}}</div>
                      <div>Nascimento: {{this.info.birth_year}}</div>
                      <div>Planeta: {{this.getPlaneta.name}}</div>
                    </div>
                </v-flex>
              </v-layout>
              <v-divider light class="mt-3"></v-divider>
              <v-layout row wrap>
                <v-flex xs6> 
                  <h1>Filmes:</h1>
                  <div>
                    <p v-for="(m, i) in getMovies" :key="i">{{m.title}}</p>
                  </div>
                </v-flex>
                <v-flex xs6> 
                  <h1>Veículos:</h1>
                  <div>
                    <p v-for="(v, i) in getVeiculos" :key="i">{{v.name}}</p>
                  </div>
                </v-flex>
              </v-layout>
              
              </div>
            </v-card>
  </v-dialog>
  </v-container>
</template>

<script>
import { mapActions, mapState, mapGetters } from "vuex"
export default {
    data() {
        return {
            page: 1,
            respostaModal: false,
            infoModal: false,
            loadInfo: false,
            info: {}
        }
    },
    computed: {
        ...mapGetters(['getPersonagens', 'getPlaneta', 'getSpecie', 'getMovies', 'getVeiculos'])
    },
    methods: {
      ...mapActions(['carregarPersonagens', 'carregarPlaneta', 'carregarSpecie', 'carregarFilmes', 'carregarVeiculos']),
      async pegaInfo(info, index)
      {
        this.loadInfo = true
        this.info = this.getPersonagens.results.find(p => p.name == info.name)

        let numeroPlaneta = this.info.homeworld.split('/')

        let numeroSpecie

        this.info.species.filter(sp => {
          numeroSpecie = sp.split('/')
          numeroSpecie = numeroSpecie[5]
        })

        let filmes = []

        this.info.films.filter(f => {
          let numeroFilme = f.split('/')
          filmes.push(numeroFilme[5])
        })

        let veiculos = []

        this.info.vehicles.filter(v => {
          let numeroVeiculo = v.split('/')
          veiculos.push(numeroVeiculo[5])
        })


        if( await this.carregarPlaneta(numeroPlaneta[5]) && await this.carregarSpecie(numeroSpecie) && await this.carregarFilmes(filmes) && this.carregarVeiculos(veiculos))
        {
          this.loadInfo = false
          return this.info
        }
        
      },
      /*async pegaPlaneta(planeta)
      {
        let numeroPlaneta = planeta.split('/')

        this.carregarPlaneta(numeroPlaneta[5])
      }*/
    },
    watch: {
     'page'(){
        this.carregarPersonagens(this.page)
      }
    },
    mounted(){
      this.carregarPersonagens(this.page)
    }
}
</script>