<template>
  <div class="grey darken-4">
    <v-container grid-list-md >
    <v-layout align-center justify-center row fill-height wrap>
      <v-flex
        xs12
        align-center
        justify-center
        layout
        text-xs-center
      >
        <v-avatar
          :tile="false"
          :size="125"
          color="grey darken-3"
          class="mt-5 mb-3"
        >
          <img src="https://vignette.wikia.nocookie.net/clubpenguin/images/9/93/DVHelmet.png/revision/latest?cb=20150705103211" alt="avatar">
        </v-avatar>
      </v-flex>
      <v-flex
        align-center
        justify-center
        text-xs-center
      >
        <h1 class="display-1 mt-1 mb-5">Boas vindas ao StarQuiz!</h1>
        <h2 class="mt-3 text-wrap">Este é um jogo para testar seus conhecimentos sobre os queridos personagens da franquia Star Wars.</h2>
        <h2 class="mt-3">Achar que tem o que é preciso para passar no teste e se tornar um Jedi?</h2>
        <v-btn class="grey darken-3 mt-5 red" large @click="jogar()"><span class="red--text text--lighten-1 font-weight-bold">Jogar</span></v-btn>
      </v-flex>
    </v-layout>
  </v-container>
  </div>
  
</template>

<script>
  import { mapActions, mapState, mapGetters } from "vuex"

  export default {
    name: 'login',
    data()
    {
      return{
        
      }
    },
    methods: {
      ...mapActions(['login']),
      jogar()
      {
        return this.$router.push('jogo')
      }

    }
  }
</script>

<style scoped>
  
</style>

