<template>
    <div>
        <h1>Placares</h1>
        <div class="text-xs-center ">
    <v-pagination
      v-model="page"
      :length="4"
      circle
      class="mt-4"
    ></v-pagination>
    </div>
    </div>
</template>