<template>
  <v-app dark id="inspire">
    <v-navigation-drawer class="grey darken-2" v-if="$route.name!='login'&&$route.name!='404'" :clipped="$vuetify.breakpoint.lgAndUp" v-model="drawer" fixed app>
      <v-list dense>
        <template v-for="item in menus">
          <v-list-tile :key="item.title" @click="$router.push(item.route)" class="mb-2">
            <v-list-tile-action >
              <v-icon size="30" class="white--text text--darken-1">{{ item.icon }}</v-icon>
            </v-list-tile-action>
			
            <v-list-tile-content>
              <v-list-tile-title>
                <h3 class="white--text text--darken-3">{{ item.title }}</h3>
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>
      </v-list>
    </v-navigation-drawer>

    <v-toolbar v-if="$route.name!='login' && $route.name!='404'" :clipped-left="$vuetify.breakpoint.lgAndUp"  color="grey darken-3" class="elevation-0" dark app fixed>
      <v-toolbar-title class="ml-0 pl-3">
        <v-toolbar-side-icon style="margin-left:-15px" v-if="$route.name!='login'&&$route.name!='404'" @click.stop="drawer=!drawer"></v-toolbar-side-icon>
        StarQuiz
      </v-toolbar-title>
      <v-spacer></v-spacer>

      <v-btn round class="bgvermelho elevation-0 mr-4" @click="logout" dark>
        <v-icon size="18">power_settings_new</v-icon>
        Sair
      </v-btn>
    </v-toolbar>
	
    <v-content>
      <div style="height: 100%;" class="grey darken-4">
        <router-view></router-view>
      </div>
    </v-content>
    
  </v-app>
</template>

<script>
  export default {
    data: () => ({
      active:0,
      snack: {
        color:'',
        visible:false,
        message:''
      },
      colors: {warning:'#d3601e', error:'#eb3e34', success: 'green', info:'#3299ff'},
      menus:[
        {title:'Jogo', icon:'account_circle', route:'jogo'},
        {title:'Placares', icon:'account_circle', route:'placares'}
      ],
      drawer:false
    }), 
    mounted()
    {
      this.$eventHub.on('snackBar', m => {
        if(!m.color)m.color = 'info'
        this.snack.color  = this.colors[ m.color ]
        this.snack.visible= true
        this.snack.message= m.message

        console.log( this.snack.color  )
      })
    },
    methods:{
      logout()
      {
        sessionStorage.removeItem("usuario")
        this.$router.push("/")
      }
    }
  }
</script>

<style lang="stylus">
  *
    font-weight normal
    font-family: 'Quicksand', sans-serif

  vermelho = #eb3e34
  azulclaro= #e1e9ed
  azul     = #c5d3db
  azulescuro=#3299ff
  laranja  = #d3601e

  .colorvermelho
    color vermelho !important
  .colorazulclaro
    color azulclaro !important
  .colorazul
    color azul !important
  .colorazulescuro
    color azulescuro !important
  .colorlaranja
    color laranja !important

  .bgvermelho
    background-color vermelho !important
  .bgazulclaro
    background-color azulclaro !important
  .bgazul
    background-color azul !important
  .bgazulescuro
    background-color azulescuro !important
  .bglaranja
    background-color laranja !important

  #inspire
    background #eee

  #maincontent
    min-height 500px

  .logo
    display block
    margin auto


</style>
